<div class="col s4">
  <div class="card-panel">
    <span class="card-title">Add new record</span>
    <div class="input-field">
      <input type="text" class="datepicker" placeholder="06.04.2018">
      <label>Date</label>
    </div>
    <div class="input-field">
      <select materialize="material_select">
        <option value="" disabled selected>Choose project</option>
        <option value="1">First</option>
        <option value="2">Second</option>
      </select>
      <label>Project</label>
    </div>
    <div class="input-field">
      <textarea class="materialize-textarea" placeholder="Your record note"></textarea>
      <label>Note</label>
    </div>
    <div class="input-field center-align">
      <button class="btn">Done</button>
    </div>
  </div>
</div>
