<div class="col s12">
  <div class="card-panel">
    <span class="card-title left">Records table</span>
    <div class="right settings-row">
      <a class="btn-floating waves-effect waves-light red" *ngIf="showDelete" (click)="deleteRecords()">
        <i class="material-icons">delete</i>
      </a>
      <a class="btn-floating waves-effect waves-light" (click)="openModal()"><i class="material-icons left">add</i></a>
    </div>
    <table class="bordered">
      <thead>
        <tr>
          <th width="10%"><input type="checkbox"
                                 [checked]="allRecordsIsSelected"
                                 (change)="selectAllRecords()"
                                 class="filled-in table-checkbox"
                                 id="l_otc_all"/><label for="l_otc_all"></label></th>
          <th width="30%"
              [ngClass]="{
                asc: sortedColumn.type === 'date' && sortedColumn.direction === 'asc',
                desc: sortedColumn.type === 'date' && sortedColumn.direction === 'desc'
              }" (click)="sort('date')">
            Date
            <i class="material-icons tiny" *ngIf="sortedColumn.type === 'date'">
              {{(sortedColumn.direction === 'asc')?'arrow_upward':'arrow_downward'}}
            </i>
          </th>
          <th width="30%"
              [ngClass]="{
                asc: sortedColumn.type === 'project' && sortedColumn.direction === 'asc',
                desc: sortedColumn.type === 'project' && sortedColumn.direction === 'desc'
              }" (click)="sort('project')">
            Project
            <i class="material-icons tiny" *ngIf="sortedColumn.type === 'project'">
              {{(sortedColumn.direction === 'asc')?'arrow_upward':'arrow_downward'}}
            </i>
          </th>
          <th width="30%"
              [ngClass]="{
                asc: sortedColumn.type === 'note' && sortedColumn.direction === 'asc',
                desc: sortedColumn.type === 'note' && sortedColumn.direction === 'desc'
              }" (click)="sort('note')">
            Note
            <i class="material-icons tiny" *ngIf="sortedColumn.type === 'note'">
              {{(sortedColumn.direction === 'asc')?'arrow_upward':'arrow_downward'}}
            </i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedRecords">
          <td><input type="checkbox"
                     [checked]="item.checked" class="filled-in table-checkbox"
                     (change)="selectRecord(item)" id="l_otc_{{item.id}}"/><label for="l_otc_{{item.id}}"></label></td>
          <td>{{getBeautyDate(item.date)}}</td>
          <td>{{getProjectById(item.project).name}}</td>
          <td>{{item.note}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="right">
        <div *ngIf="hasPaginate" class="pagination">
          <li (click)="setPage(pager.currentPage - 1)"
              [ngClass]="{disabled:pager.currentPage === 1}" class="waves-effect"><a href="#!">
            <i class="material-icons">chevron_left</i></a>
          </li>
          <li (click)="setPage(page)"
              [ngClass]="{active:pager.currentPage === page}" *ngFor="let page of pager.pages">
            <a href="#!">{{page}}</a>
          </li>
          <li (click)="setPage(pager.currentPage + 1)"
              [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="waves-effect">
            <a href="#!"><i class="material-icons">chevron_right</i></a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-record class="modal add-record-modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions" [modalActions]="modalActions"></app-add-record>
